certifi==2020.4.5.1
chardet==3.0.4
cvxpy==1.0.25
cycler==0.10.0
decorator==4.4.2
dill==0.3.1.1
ecos==2.0.7.post1
future==0.18.2
GPUtil==1.4.0
idna==2.9
joblib==0.15.1
kiwisolver==1.1.0
multiprocess==0.70.9
networkx==2.4
numpy==1.18.1
osqp==0.6.1
pandas==1.0.1
patsy==0.5.1
Pillow==7.1.2
pyparsing==2.4.6
python-dateutil==2.8.1
PythonMeta==1.11
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
scs==2.1.1.post2
six==1.14.0
skrebate==0.6
statsmodels==0.11.1
threadpoolctl==2.1.0
tqdm==4.46.0
urllib3==1.25.9
